body{
    background-color: rgb(31, 37, 65);
    display: flex;
    justify-content: center;
}

#banner-info{
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    position: relative;
    margin-top: 10%;
    position: relative;
    right: 10%;
    /*border: white thin solid;*/
    align-content: center;

}

#banner-text{
    position: relative;
    top: 20%;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

#banner-image > img{
    max-width: 300px;
    max-height: 300px;
    border-radius: 10%;
    position: relative;
    left: 200%;
    bottom: 40%;
}